.game{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: aqua;
    font-size: 150px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}